h1{
    color: blue;
    font-size: 100px;
}
.heading{
    color: red;
    font-size: xx-large;
}
#head{
    color: yellow;
}
.port::before{
    content: "'";
    font-size: xx-large;
    color: red;
}
.port::after{
    content: "read more";
    font-size: xx-small;
}
h1:hover{
    color: red;
}
.box{
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 2px solid;
    margin: 20px;
    box-sizing: border-box;
}
body{
    background: radial-gradient(circle);
}